{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hamirpur Ecommerce</h1>
      <p>Hamirpur Ecommerce Pvt Ltd. is an Indian electronic commerce company based in Hamirpur, India. Founded by Aman Pratap Singh, Manoj Chaudhary and Amit Kumar in 2020,the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of June 2020.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h2>Aman Pratap Singh</h2>
        <p>Aman Pratap Singh
            CSE Dual 
            17MI554</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Manoj Kumar</h2>
        <p>Manoj Kumar
            CSE Dual 
            17MI537 </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Amit Kumar</h2>
        <p>Amit Kumar
            CSE Dual 
            17MI539</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> 

</main>





{% endblock %}